@charset "utf-8";

#valasz {
    border:none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    padding:10px;
    border-left: 3px solid lightblue;
    border-right: 3px solid lightblue;
}

#kerdes {
    font-family: 'Indie Flower', cursive;
    font-size:20px;
}

article,form,#valasz {
    margin: auto;
    text-align:center;
}

#kuld {
    width:210px;
    background-color:lightblue;
}

ul {
    list-style-type: none;
}

h1 {
    text-align:center;
    font-family: 'Indie Flower', cursive;
    font-size:40px;
}


main {
    display: grid;
    grid-template-areas:
        "h h h h"
        "a a a a"
        "s s s s"
        "f f f f";
}


